* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------MAIN MENU BUTTONS-------------------------------*/
#main-menu {
    width: 100%;
    height: 100vh
}
#background-gif {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;
}
#menu a {
    position: relative;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
#menu a:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
#menu a:before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #27282c;
}
#menu a span {
    position: relative;
    z-index: 1;
}
#menu a i {
    position: absolute;
    inset: 0;
    display: block;
}
#menu a i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skew(325deg);
    transition: 0.5s;
}
#menu a:hover i::before {
    width: 20px;
    left: 20%;
}
#menu a i::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skew(325deg);
    transition: 0.5s;
}
#menu a:hover i::after {
    width: 20px;
    left: 80%;
}

/*-------------------------------TEXT ANIMATION-------------------------------*/
#text-animated {
    position: absolute;
    margin-top: 200px;
    margin-left: 475px;
    font-size: 7vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}
#text-animated::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: aqua;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid aqua;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

